<div class="row">
  <div class="col-md-12">
    <div class="btn-toolbar pull-left">
      <button type="button" class="btn btn-primary">Import</button>
      <button type="button" class="btn btn-primary">Download template</button>
    </div>
    <div class="btn-toolbar pull-right">
      <button type="button" class="btn btn-danger">Clear</button>
      <button type="button" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>
      Vials
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ag-grid-angular
      style="height: 400px;"
      class="ag-theme-balham"
      [rowData]="vialsRowData"
      [columnDefs]="vialsColumnDefs"
    >
    </ag-grid-angular>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>
      Inventory
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ag-grid-angular
      style="height: 200px;"
      class="ag-theme-balham"
      [rowData]="inventoryRowData"
      [columnDefs]="inventoryColumnDefs"
    >
    </ag-grid-angular>
  </div>
</div>
